<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Leads</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
        <div class="container-fluid"  style="padding: 20px;background-color: #00B4B6;color:#fff">
            <a class="navbar-brand"  href="#">ADMAKE ADMIN</a>
        </div>
    
    <div class="container mt-4">
        <h1 class="mb-4">Danh sách khách hàng</h1>
        <table class="table table-striped table-bordered">
            <thead class="table-light" style="background-color: #00B4B6;">
                <tr>
                    <th>ID</th>
                    <th style="width:200px">Họ và tên</th>
                    <th>Công ty</th>
                    
                    <th>Liên hệ</th>
                    <th style="width:200px">Nhu cầu</th>
                    <th>Ngành</th>
                    <th style="width:50px">Quy mô công ty</th>
                    <th style="width:50px">Số dư</th>
                    <th style="width:100px">Ngày đăng ký/ gia hạn/ hết hạn</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                <tr>
                    <td>{{ lead.id }}</td>
                    <td>{{ lead.name }}</td>
                    <td>{{ lead.company }}</td>
                    
                    <td>
                        <p>{{ lead.phone }}</p>
                        <p>{{ lead.email }}</p>
                    </td>

                    <td>{{ lead.description }}</td>
                    <td>{{ lead.industry }}</td>
                    <td>{{ lead.companySize }}</td>
                    <td>{{ lead.balance_amount }}</td>
                    <td>
                        <p>{{ lead.createdAt }}</p>
                        <p>{{ lead.updatedAt }}</p>
                        <p style="color:red">{{ lead.expiredAt }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
