<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Login - ADMAKE</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>
<style>
    body, html {
      height: 100%;
      margin: 0;
    }
    .center-container {
      display: flex;
      justify-content: center; /* căn giữa ngang */
      align-items: center;     /* căn giữa dọc */
      height: 100vh;           /* chiều cao 100% viewport */
      
      background-image: url("{{ url_for('static', filename='backGround.png') }}");
      background-repeat: no-repeat;      /* không lặp lại ảnh */
      background-size: cover;            /* phóng to ảnh phủ hết div, giữ tỉ lệ */
      background-position: center; 
  }
</style>



























































































<link as="image" as_="script" href="/ADMAKE.svg" rel="prefetch"/>
<link as="image" as_="script" href="/alarm-svgrepo-com.svg" rel="prefetch"/>
<link as="image" as_="script" href="/avatar-default.svg" rel="prefetch"/>
<link as="image" as_="script" href="/backGround.png" rel="prefetch"/>
<link as="image" as_="script" href="/cart-shopping-fast-svgrepo-com.svg" rel="prefetch"/>
<link as="script" as_="script" href="/chat.html" rel="prefetch"/>
<link as="script" as_="script" href="/dashboard.html" rel="prefetch"/>
<link as="image" as_="script" href="/holiday-island-tourism-svgrepo-com.svg" rel="prefetch"/>
<link as="script" as_="script" href="/login.html" rel="prefetch"/>
<link as="image" as_="script" href="/logo.jpg" rel="prefetch"/>
<link as="image" as_="script" href="/logo.svg" rel="prefetch"/>
<link as="image" as_="script" href="/pay-svgrepo-com.svg" rel="prefetch"/>
<link as="script" as_="script" href="/point.html" rel="prefetch"/>
<link as="image" as_="script" href="/remove-bookmark-svgrepo-com.svg" rel="prefetch"/>
<link as="image" as_="script" href="/task-done-svgrepo-com.svg" rel="prefetch"/>
<link as="script" as_="script" href="/assets/auth.service-CpzE_UfQ.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/chat-B1WZRsdW.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/dashboard-kRl0ZSow.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/data-K2ebSFRv.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/FormUser-wOre-4pF.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/Group-CAw9rZq-.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Group-CUfMHB9_.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-Cg8DFDPc.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-CO_hewGj.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-DLlaPFt4.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-DSy7L4Ih.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-DXzcrT1k.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-GfEEWm_I.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/index-jddZ_HR7.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Input-D40c4w2_.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/JobAsset-D_-aZnEQ.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/login-svFMxTBx.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/Managerment-DXyWt9De.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Managerment-xcuUDN-4.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-BMLuFxPK.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-ChR_SWEn.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/page-CW-Azc8I.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-DgGyz5AY.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-DGpcw4mD.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-I03OlNB8.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-Sk29JPg_.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/point-b7yxdnxz.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/point-BdOndhxL.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/QRCode-BaZ33-Za.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/SalaryBoard-BMlNTrMG.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Send-AeE4nUpH.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/TableBody-BQP0MqdX.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/TableHead-DUFuCCzf.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Tabs-pNc9BiSR.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/TitlePanel-4lI377aT.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/useDebounce-BIQh1xdw.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/useUpdateButtonTask-DDatRe6Q.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/useVariants-Cu9HdRoT.js" rel="prefetch"/>
<link as="script" as_="script" href="/auth.service-CpzE_UfQ.js" rel="prefetch"/>
<link as="script" as_="script" href="/chat-B1WZRsdW.js" rel="prefetch"/>
<link as="script" as_="script" href="/dashboard-kRl0ZSow.js" rel="prefetch"/>
<link as="script" as_="script" href="/data-K2ebSFRv.js" rel="prefetch"/>
<link as="script" as_="script" href="/FormUser-wOre-4pF.js" rel="prefetch"/>
<link as="style" as_="script" href="/Group-CAw9rZq-.css" rel="prefetch"/>
<link as="script" as_="script" href="/Group-CUfMHB9_.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-Cg8DFDPc.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-CO_hewGj.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-DLlaPFt4.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-DSy7L4Ih.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-DXzcrT1k.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-GfEEWm_I.js" rel="prefetch"/>
<link as="style" as_="script" href="/index-jddZ_HR7.css" rel="prefetch"/>
<link as="script" as_="script" href="/Input-D40c4w2_.js" rel="prefetch"/>
<link as="script" as_="script" href="/JobAsset-D_-aZnEQ.js" rel="prefetch"/>
<link as="script" as_="script" href="/login-svFMxTBx.js" rel="prefetch"/>
<link as="style" as_="script" href="/Managerment-DXyWt9De.css" rel="prefetch"/>
<link as="script" as_="script" href="/Managerment-xcuUDN-4.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-BMLuFxPK.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-ChR_SWEn.js" rel="prefetch"/>
<link as="style" as_="script" href="/page-CW-Azc8I.css" rel="prefetch"/>
<link as="script" as_="script" href="/page-DgGyz5AY.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-DGpcw4mD.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-I03OlNB8.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-Sk29JPg_.js" rel="prefetch"/>
<link as="script" as_="script" href="/point-b7yxdnxz.js" rel="prefetch"/>
<link as="style" as_="script" href="/point-BdOndhxL.css" rel="prefetch"/>
<link as="script" as_="script" href="/QRCode-BaZ33-Za.js" rel="prefetch"/>
<link as="script" as_="script" href="/SalaryBoard-BMlNTrMG.js" rel="prefetch"/>
<link as="script" as_="script" href="/Send-AeE4nUpH.js" rel="prefetch"/>
<link as="script" as_="script" href="/TableBody-BQP0MqdX.js" rel="prefetch"/>
<link as="script" as_="script" href="/TableHead-DUFuCCzf.js" rel="prefetch"/>
<link as="script" as_="script" href="/Tabs-pNc9BiSR.js" rel="prefetch"/>
<link as="script" as_="script" href="/TitlePanel-4lI377aT.js" rel="prefetch"/>
<link as="script" as_="script" href="/useDebounce-BIQh1xdw.js" rel="prefetch"/>
<link as="script" as_="script" href="/useUpdateButtonTask-DDatRe6Q.js" rel="prefetch"/>
<link as="script" as_="script" href="/useVariants-Cu9HdRoT.js" rel="prefetch"/>
</head>
<body>
<div class="center-container">
<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm min-w-[400px]">
<div class="flex items-center justify-center pb-5">
<img alt="logo" class="w-13 h-13" src="{{ url_for('static', filename='logo.jpg') }}" style="position: relative; width:60px;height:60px;border-radius: 30px;top:15px"/>
<img alt="ADMAKE" class="h-8" src="{{ url_for('static', filename='ADMAKE.svg') }}"/>
</div>
<form action="https://quanly.admake.vn/dashboard" method="POST" style="max-width: 250px; display:flex; flex-direction: column; gap:20px;margin-top: 20px;">
<input name="username" placeholder="Tên đăng nhập" required="" style="max-width: 250px; font-size:16px; padding:10px 20px; border-radius: 20px; border: 1px solid #ccc;" type="text"/>
<div style="position: relative; max-width: 250px">
<input id="password" name="password" placeholder="Mật khẩu" required="" style="max-width: 250px; font-size:16px;  padding:10px 20px; border-radius: 20px;  border: 1px solid #ccc;" type="password"/>
<i class="bi bi-eye-slash" id="togglePassword" style="position: absolute; right: 30px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
</div>
<button style="background-color: #00B5B4; width: 250px;border:none; font-size:16px; padding:10px 20px;border-radius: 20px;" type="submit">Đăng nhập</button>
</form>
</div>
</div>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function () {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      this.classList.toggle('bi-eye');
      this.classList.toggle('bi-eye-slash');
    });


    

  </script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const loginForm = document.querySelector('form');

    loginForm.addEventListener('submit', function(event) {
      event.preventDefault();  // ngăn submit mặc định form reload trang

      fetch('/login', {
        method: 'POST',
        body: new FormData(loginForm),
        credentials: 'include',  // Cho phép gửi cookie
        mode: 'cors'
      })
        .then(resp => resp.json())
        .then(data => {
          if (data.access_token) {
            sessionStorage.setItem('accessToken', data.access_token);
            window.location.href = '/dashboard';  // redirect bằng JS
          } else {
            console.error('Không nhận được access token:', data);
            alert('Sai thông tin đăng nhập, vui lòng kiểm tra lại.');
          }
        })
        .catch(error => {
          console.error('Lỗi khi gửi request:', error);
          alert('Lỗi đăng nhập, vui lòng thử lại sau.');
        });
    });
  });
  </script>
</body>
</html>
