<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Login - ADMAKE</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>
<style>
    body, html {
      height: 100%;
      margin: 0;
    }
    .center-container {
      display: flex;
      justify-content: center; /* căn giữa ngang */
      align-items: center;     /* căn giữa dọc */
      height: 100vh;           /* chiều cao 100% viewport */
      
      background-image: url("{{ url_for('static', filename='backGround.png') }}");
      background-repeat: no-repeat;      /* không lặp lại ảnh */
      background-size: cover;            /* phóng to ảnh phủ hết div, giữ tỉ lệ */
      background-position: center; 
  }
</style>

























































































<link as="image" as_="script" href="/ADMAKE.svg" rel="prefetch"/>
<link as="image" as_="script" href="/alarm-svgrepo-com.svg" rel="prefetch"/>
<link as="image" as_="script" href="/avatar-default.svg" rel="prefetch"/>
<link as="image" as_="script" href="/backGround.png" rel="prefetch"/>
<link as="image" as_="script" href="/cart-shopping-fast-svgrepo-com.svg" rel="prefetch"/>
<link as="script" as_="script" href="/chat.html" rel="prefetch"/>
<link as="script" as_="script" href="/dashboard.html" rel="prefetch"/>
<link as="image" as_="script" href="/holiday-island-tourism-svgrepo-com.svg" rel="prefetch"/>
<link as="script" as_="script" href="/login.html" rel="prefetch"/>
<link as="image" as_="script" href="/logo.jpg" rel="prefetch"/>
<link as="image" as_="script" href="/logo.svg" rel="prefetch"/>
<link as="image" as_="script" href="/pay-svgrepo-com.svg" rel="prefetch"/>
<link as="script" as_="script" href="/point.html" rel="prefetch"/>
<link as="image" as_="script" href="/remove-bookmark-svgrepo-com.svg" rel="prefetch"/>
<link as="image" as_="script" href="/task-done-svgrepo-com.svg" rel="prefetch"/>
<link as="script" as_="script" href="/assets/auth.service-Kg4kw2_T.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/chat-DoZFk4PB.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/dashboard-S9QXWkkp.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/data-DiPSLUxd.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/FormUser-BWHhYpai.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Group-B0hc1kE_.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/Group-CAw9rZq-.css" rel="prefetch"/>
<link as="style" as_="script" href="/assets/index-1VlRzZR7.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-BBhU-mv6.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-BNP-tReo.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-BUbmryJ2.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-BYGx5mY2.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-CTjBTHgi.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/index-Dp6OPkKo.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Input-7CSw2Ms_.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/login-D_DOxOEs.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/Managerment-DXyWt9De.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Managerment-h_6tPFgc.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-086tqr2g.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-0W3eQn52.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-BPVMwlsZ.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/page-CW-Azc8I.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-D4wVc4h_.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-DxzPaP0d.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/page-DzOaFFVR.js" rel="prefetch"/>
<link as="style" as_="script" href="/assets/point-BdOndhxL.css" rel="prefetch"/>
<link as="script" as_="script" href="/assets/point-BTldBFhj.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/QRCode-BVCzLHQF.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/SalaryBoard-C6FVzcpQ.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/TableBody-BCgnIIxY.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/TableHead-n_0zNrBQ.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/TableRow-DlkzEkKa.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/Tabs-DUSCKcpo.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/TitlePanel-BhtlwZzL.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/useDebounce-BmE2Yl-z.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/useUpdateButtonTask-D2SbtBML.js" rel="prefetch"/>
<link as="script" as_="script" href="/assets/useVariants-CCT2Md7c.js" rel="prefetch"/>
<link as="script" as_="script" href="/auth.service-Kg4kw2_T.js" rel="prefetch"/>
<link as="script" as_="script" href="/chat-DoZFk4PB.js" rel="prefetch"/>
<link as="script" as_="script" href="/dashboard-S9QXWkkp.js" rel="prefetch"/>
<link as="script" as_="script" href="/data-DiPSLUxd.js" rel="prefetch"/>
<link as="script" as_="script" href="/FormUser-BWHhYpai.js" rel="prefetch"/>
<link as="script" as_="script" href="/Group-B0hc1kE_.js" rel="prefetch"/>
<link as="style" as_="script" href="/Group-CAw9rZq-.css" rel="prefetch"/>
<link as="style" as_="script" href="/index-1VlRzZR7.css" rel="prefetch"/>
<link as="script" as_="script" href="/index-BBhU-mv6.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-BNP-tReo.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-BUbmryJ2.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-BYGx5mY2.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-CTjBTHgi.js" rel="prefetch"/>
<link as="script" as_="script" href="/index-Dp6OPkKo.js" rel="prefetch"/>
<link as="script" as_="script" href="/Input-7CSw2Ms_.js" rel="prefetch"/>
<link as="script" as_="script" href="/login-D_DOxOEs.js" rel="prefetch"/>
<link as="style" as_="script" href="/Managerment-DXyWt9De.css" rel="prefetch"/>
<link as="script" as_="script" href="/Managerment-h_6tPFgc.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-086tqr2g.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-0W3eQn52.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-BPVMwlsZ.js" rel="prefetch"/>
<link as="style" as_="script" href="/page-CW-Azc8I.css" rel="prefetch"/>
<link as="script" as_="script" href="/page-D4wVc4h_.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-DxzPaP0d.js" rel="prefetch"/>
<link as="script" as_="script" href="/page-DzOaFFVR.js" rel="prefetch"/>
<link as="style" as_="script" href="/point-BdOndhxL.css" rel="prefetch"/>
<link as="script" as_="script" href="/point-BTldBFhj.js" rel="prefetch"/>
<link as="script" as_="script" href="/QRCode-BVCzLHQF.js" rel="prefetch"/>
<link as="script" as_="script" href="/SalaryBoard-C6FVzcpQ.js" rel="prefetch"/>
<link as="script" as_="script" href="/TableBody-BCgnIIxY.js" rel="prefetch"/>
<link as="script" as_="script" href="/TableHead-n_0zNrBQ.js" rel="prefetch"/>
<link as="script" as_="script" href="/TableRow-DlkzEkKa.js" rel="prefetch"/>
<link as="script" as_="script" href="/Tabs-DUSCKcpo.js" rel="prefetch"/>
<link as="script" as_="script" href="/TitlePanel-BhtlwZzL.js" rel="prefetch"/>
<link as="script" as_="script" href="/useDebounce-BmE2Yl-z.js" rel="prefetch"/>
<link as="script" as_="script" href="/useUpdateButtonTask-D2SbtBML.js" rel="prefetch"/>
<link as="script" as_="script" href="/useVariants-CCT2Md7c.js" rel="prefetch"/>
</head>
<body>
<div class="center-container">
<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm min-w-[400px]">
<div class="flex items-center justify-center pb-5">
<img alt="logo" class="w-13 h-13" src="{{ url_for('static', filename='logo.jpg') }}" style="position: relative; width:60px;height:60px;border-radius: 30px;top:15px"/>
<img alt="ADMAKE" class="h-8" src="{{ url_for('static', filename='ADMAKE.svg') }}"/>
</div>
<form action="https://quanly.admake.vn/dashboard" method="POST" style="max-width: 250px; display:flex; flex-direction: column; gap:20px;margin-top: 20px;">
<input name="username" placeholder="Tên đăng nhập" required="" style="max-width: 250px; font-size:16px; padding:10px 20px; border-radius: 20px; border: 1px solid #ccc;" type="text"/>
<div style="position: relative; max-width: 250px">
<input id="password" name="password" placeholder="Mật khẩu" required="" style="max-width: 250px; font-size:16px;  padding:10px 20px; border-radius: 20px;  border: 1px solid #ccc;" type="password"/>
<i class="bi bi-eye-slash" id="togglePassword" style="position: absolute; right: 30px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
</div>
<button style="background-color: #00B5B4; width: 250px;border:none; font-size:16px; padding:10px 20px;border-radius: 20px;" type="submit">Đăng nhập</button>
</form>
</div>
</div>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function () {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      this.classList.toggle('bi-eye');
      this.classList.toggle('bi-eye-slash');
    });


    

  </script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const loginForm = document.querySelector('form');

    loginForm.addEventListener('submit', function(event) {
      event.preventDefault();  // ngăn submit mặc định form reload trang

      fetch('/login', {
        method: 'POST',
        body: new FormData(loginForm),
        credentials: 'include',  // Cho phép gửi cookie
        mode: 'cors'
      })
        .then(resp => resp.json())
        .then(data => {
          if (data.access_token) {
            sessionStorage.setItem('accessToken', data.access_token);
            window.location.href = '/dashboard';  // redirect bằng JS
          } else {
            console.error('Không nhận được access token:', data);
            alert('Sai thông tin đăng nhập, vui lòng kiểm tra lại.');
          }
        })
        .catch(error => {
          console.error('Lỗi khi gửi request:', error);
          alert('Lỗi đăng nhập, vui lòng thử lại sau.');
        });
    });
  });
  </script>
</body>
</html>
